#truck-location-map {
    height: 500px;
    width: 75%;
}

#general-map {
    float: left;
    height: 500px;
    width: 75%;
}

#footer {
    width: 100%;
    vertical-align : bottom;    
}

td {
    padding:5px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#logo-bar {
    background-color: #9ED54C;
    padding: 0px;
    margin: 0px;
    height: 120px;
    width: 100%;
    font-family:Rufina, serif;
    font-weight:700;
    font-size: 60px;
    text-decoration: none;
    color: #ffffff;
}

#search-bar {
    position: absolute; 
    top: 45px;
    right: 5px;
}

#navigation {
    margin-top: -30px;
}

nav {
    font-family:Rufina, serif;
    font-weight:400;
    font-style:normal; 
    font-size: 20px;
    vertical-align: top;   
    color: #ffffff;
}

nav a {
    color: #ffffff;
}

h1 {
    font-family:Rufina, serif;
    font-weight:700;
}

.button {
    font-family: Crimson Text;
    font-weight:400;
    font-style:bold;
    padding-left:5px;
    padding-right:5px;
    background: #59A80F;
    border-radius: 0px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.button:hover {
    background: #6ec418;
    color: #ffffff;
    text-decoration: none;

}

#day-buttons {
    padding: 10px;
}

table {
    font-family:Lato;
    font-weight:300;
    font-style:normal;
}

.container-fluid {
    margin:50px;
}

.right-column {
    right:0;
    padding:0px, 20px, 20px, 0px;
    /*color: #ffffff;*/

}

.right-truck-column {
    right:0;
    padding: 30px;
}

.left-column {
    left:0;

}

p {
    font-family:Lato;
    font-weight:400;
    font-style:normal;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

#top-title {
    color: #ffffff;
    text-decoration: none;
}

#top-title:hover {
    color: #ffffff;
    text-decoration: none;    
}


.window-content a {
    color: #9ED54C;
    text-align: left;
}

.window-content a:hover {
    color: #000000;
}

input {
    color: #000000;
}

td a {
    color: #9ED54C;
;
}

td a:hover {
    color: #9ED54C;    
}

#table-header-1 {
    width: 150px;
}

#table-header2 {
    width: 400px;
}
