{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-12">    
        <p>I am so great, no seriously, so great. I am the great communicator your team has been waiting for. I am basically just looking for my Excalibur to pull from the stone.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Steal from the blog and write about the project. </p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>UX, my bio, process, GitHub link, etc.</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Link to and explanation of SF OpenData. Explain what I love and don't love about it.</p>
        <p>Brief explanation of this alternative search and why I chose to create my db the way I did.</p>
        <p><a href="/search-permits">Search the API</a></p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Final project pun count: XX</p>
    </div>
</div>


{% endblock %}


