{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">    
        <p>Go Truck Yourself came from a sunny Seattle afternoon in summer 2014. I was eating a fish waffle from <a href="http://www.beanfish.net/" style="color: #000000">BeanFish</a>, which I had recently learned was a thing in our world. Perfect fish-shaped waffles, perfectly sized, and sold in my city - and I had no idea. Why was there not a central resource for this, ideally in app form? Why didn't I know about this? The name came to me immediately. Some things are meant to be.</p>

        <p>App reviews for food truck trackers in Apple's app store were abysmal, so I didn't bother. Instead, I filed my idea in the back of my head, next to my growing interest in learning programming. <i>There will come a time</i>, I thought. Then I went and got another fish waffle.</p>

        <p>So here we are. You can learn more about me and my education <a href="http://www.breanneboland.com">here</a>.</p>

        <p>And here's a bonus feature: 


        <p>I am so great, no seriously, so great. I am the great communicator your team has been waiting for. I am basically just looking for my Excalibur to pull from the stone.</p>

        <p>Steal from the blog and write about the project. </p>

        <p>UX, my bio, process, GitHub link, etc.</p>

        <p>Link to and explanation of SF OpenData. Explain what I love and don't love about it.</p>
        <p>Brief explanation of this alternative search and why I chose to create my db the way I did.</p>
        <p><a href="/search-permits">Search the API</a></p>

    </div>
</div>


{% endblock %}


