{% extends 'base.html' %}
{% block content %}

<p>I am so great, no seriously, so great. I am the great communicator your team has been waiting for. I am basically just looking for my Excalibur to pull from the stone.</p>
<p>Steal from the blog and write about the project. </p>
<p>UX, my bio, process, GitHub link, etc.</p>
<p>Link to and explanation of SF OpenData. Explain what I love and don't love about it.</p>
<p><a href="/search-permits">Search the API</a></p>
<p>Final project pun count: XX</p>


{% endblock %}


