
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/static/truck.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <nav>
    <a href="/">Logo/home</a>
    <a href="/add-a-truck">Suggest a Truck</a>
    <a href="/truck-me">Get a Random Truck</a>
    <a href="/about-this-project">About This Project</a>
    <form action="/search"><input type="text" name="search-text" placeholder="Search for trucks"><input type="submit" value="Search!" ></form>
  </nav>

  {% block content %} put your content here {% endblock %}

  <footer>
    <p>A project by <a href="http://www.breanneboland.com">Breanne Boland</a> for Hackbright Academy's Summer 2015 cohort.</p>
  </footer>
</body>
</html>