
<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/static/truck.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

<body>
  <nav>
    <a href="/neighborhoods">Neighborhoods</a>
    <a href="/truck-schedule-info">Truck Schedules</a>
    <a href="/add-a-truck">Suggest a Truck</a>
    <a href="/add-my-truck">Submit Your Truck</a>
    <a href="/truck-me">Get a Random Truck</a>
    <a href="/about">About This Project</a>
  </nav>

  {% block content %} put your content here {% endblock %}

  <footer>
    <p>Footer: echoes nav above</p>
  </footer>
</body>
</html>