<!DOCTYPE html>
<html>
<head>
  <title>Go Truck Yourself</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Rufina:700,400|Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <link rel="stylesheet" type="text/css" href="/static/truck.css">  


  </head>

<body>
  <div id="logo-bar">
    <span id="top-title"><a href="/"><img src="/static/food-truck.png">Go Truck Yourself</a></span><br>
      <center><nav id="navigation">
        <a href="/add-a-truck">Suggest a Truck</a> • 
        <a href="/truck-me">Get a Random Truck</a> • 
        <a href="/about-this-project">About This Project</a> 
        <form action="/search" id="search-bar"><input type="text" name="search-text" placeholder="Search for trucks"><input type="submit" class="hide"></form>
      </nav></center>
  </div>


  <div class="container-fluid">
    <div class="row">

    {% block content %} put your content here {% endblock %}
  
    </div>
  </div>
</body>
</html>