{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div id="day-buttons" class="col-xs-12 col-md-9 col-lg-9 center-block">
        <center><a href="/day/Sunday" class="button">Sunday</a>
        <a href="/day/Monday" class="button">Monday</a>
        <a href="/day/Tuesday" class="button">Tuesday</a>
        <a href="/day/Wednesday" class="button">Wednesday</a>
        <a href="/day/Thursday" class="button">Thursday</a>
        <a href="/day/Friday" class="button">Friday</a>
        <a href="/day/Saturday" class="button">Saturday</a></center>
    </div>
    <div id="col-xs-0 col-md-3 col-lg-3"></div>
</div>

<div class="row">
    <input id="map-input" class="controls" type="text" placeholder="Enter your address!">
    <input type="hidden" id="city2" name="city2" />
    <input type="hidden" id="cityLat" name="cityLat" />
    <input type="hidden" id="cityLng" name="cityLng" />  
    <div id="general-map" class="col-xs-12 col-md-9 col-lg-9"></div>
    <div class="col-xs-0 col-md-3 col-lg-3">
        <p>Want truck details? Check the link in the pin's details.</p>
        <p>Still not finding what you want? Search for the burrito, falafel, or cheesesteak of your dreams using the search at the top.</p>
    </div>
</div>

<script>
var searchBox, map, geocoder;

function initMap() {
    var map;
    var mapOptions = {
        zoom: 12,
        center: new google.maps.LatLng(37.756366, -122.438632)
    };
    map = new google.maps.Map(
        document.getElementById("general-map"),
        mapOptions);

    var input = document.getElementById('map-input');
    var autocomplete = new google.maps.places.Autocomplete(input);
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
        var newPlace = autocomplete.getPlace();

        document.getElementById('city2').value = newPlace.name;
        // document.getElementById('cityLat').value = place.geometry.location.lat();
        // document.getElementById('cityLng').value = place.geometry.location.lng();
        var newLat = newPlace.geometry.location.lat();
        var newLong = newPlace.geometry.location.lng();
        var center = new google.maps.LatLng(newLat, newLong);

        map.setZoom(16);

        map.panTo(center);

        console.log("This function is working!");
        console.log(newPlace.name);
        console.log(newPlace.address_components[0].long_name);    
    });
    
    var infoWindow = new google.maps.InfoWindow({
        width: 100
    });

    $.get('/truck_info_by_day.json', {dayOfWeek: '{{dayOfWeek}}'}, function (truck_schedule_info) {
        // Attach markers to each truck location in returned JSON
        var truck, marker, contentString;
                
        for (var key in truck_schedule_info) {
            
            truck = truck_schedule_info[key];

            // Define the marker
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(truck.xCoordinate, truck.yCoordinate),
                map: map,
                // day: truck.dayOfWeek,
                title: 'Truck ID: ' + truck.truckName,
            });

            // Define the content of the infoWindow
            contentString = (
                '<div class="window-content">' +
                    '<p><b>Day and times:</b> ' + truck.dayOfWeek + ', ' + truck.startTime + ' - ' + truck.endTime + '</p><p><b>Additional location/time information: </b>' + truck.locationDescription + ". " + truck.extraText + '.</p>' +
                '</div>');

            // Inside the loop we call bindInfoWindow passing it the marker,
            // map, infoWindow and contentString
            bindInfoWindow(marker, map, infoWindow, contentString);

        }

    });

    function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
    }
}

    google.maps.event.addDomListener(window, 'load', initMap);
</script>

{% endblock %}