{% extends 'base.html' %}
{% block content %}

<p>The homepage is actually showing up! Here's what to add later:</p>
<p>Relevant details</p>
<p>The main map, centered on SF or with the user's location</p>
<p>Details on what the site does and how to use it</p>
<p>Search</p>
<p>See a random truck <a href="/truck/323">here</a>.</p>

<script>
//note to self: Google Maps events for changing map boundaries are drag, bounds_changed, and center_changed. https://developers.google.com/maps/documentation/javascript/reference?hl=en
</script>

{% endblock %}