{% extends 'base.html' %}
{% block content %}

<div class="row">
    <h1>Thanks for trucking us!</h1>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="submission-text">We'll investigate this mystery truck and add it to our database, not unlike Borg assimilation (but with more falafel).</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p class="submission-text">In the meantime, why not <a href="/search?search-text={{truck_info}}" style="color: #000000">see what the existing database has for you?</a></p>
    </div>
</div>

{% endblock %}
