{% block content %}

    <p id="schedule-graph">Show me the schedule for...</p>

    {% if schedule_open_close %}

        {% for day in schedule_open_close %}

            {% if schedule_open_close[day] %}
                <button id={{ day + "-button"}}>{{ day }}</button>
            {% endif %}

        {% endfor %}

    {% endif %}


    {% for day in days %} 

        {% if schedule_open_close[day] %}
            <p class="day-button {{ day }}">{{ day }}: {{ schedule_open_close[day][0] }} - {{ schedule_open_close[day][1] }}</p>
        {% endif %}

    {% endfor %}

{% endblock %}