
{% extends 'base.html' %}
{% block content %}

<h1>The truck's ID is {{ truck_id }}</h1>
<h2>The truck's name is {{ truck.name }}</h2>
<h3>Here's an object to unpack: {{ truck_schedule_1 }}</h3>
<p>The ID of this schedule entry is {{ truck_schedule_1.schedule_line_id }}.</p>
<p>The schedule for {{ truck_schedule_1.day_of_week }} is {{ truck_schedule_1.start_time }} to {{ truck_schedule_1.end_time }}, and here's the location information: {{ truck_schedule_1.location_description}}. Maybe there's some extra information here? {{ truck_schedule_1.extra_text}}. And hey, here are coordinates: {{ truck_schedule_1.x_coordinate }}, {{ truck_schedule_1.y_coordinate }}.</p>


<script src="http://maps.googleapis.com/maps/api/js"></script>
<!-- <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBca63SUqhkwBRtGvc6kGNQJOiFyQdrX0I"></script> -->


<div id="truck-location-map"></div>
<div id="truck-info-text"></div>

<p>Text block next to map</p>
<p>Schedule information, listed and unsorted, really</p>
<p>Unpack truck data object here</p>
<p>Needs interactive schedule</p>
<p>Needs to take ID and do all the things with it</p>

<script>

function initMap() {

    var coordinates1 = [37.7111991, -122.3946933] 
    // Looks like probably a good idea to keep the coordinates separate, actually, to sub X and Y rather than some listed pair. Cool, another db reseed. 

    var map;

    var mapOptions = {
        zoom: 12,
        center: new google.maps.LatLng(37.7111991, -122.3946933)
    };

    map = new google.maps.Map(
        document.getElementById("truck-location-map"),
        mapOptions);

        // Retrieving the information with AJAX
    
    var infoWindow = new google.maps.InfoWindow({
        width: 100
    });
    // Keep this out of the loop so it only creates one info window at a time, otherwise, you'd get more and more each time you click a marker. No!

    $.get('/truck_info.json', function (truck_schedule_info) {
        // Attach markers to each truck location in returned JSON
        var truck, marker, contentString;
                
        for (var key in truck_schedule_info) {
            truck = truck_schedule_info[key];

            // Define the marker
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(truck.xCoordinate, truck.yCoordinate),
                map: map,
                title: 'Truck ID: ' + truck.truckName,
            });

            // Define the content of the infoWindow
            contentString = (
                '<div class="window-content">' +
                    '<p><b>Location description: </b>' + truck.locationDescription + '</p>' +
                    '<p><b>Some more information: </b>' + truck.extraText + '</p>' +
                '</div>');

            // Inside the loop we call bindInfoWindow passing it the marker,
            // map, infoWindow and contentString
            bindInfoWindow(marker, map, infoWindow, contentString);
        }

    });

    // Good place to put the loop that will append truck object information to the page itself.

    // This function is outside the for loop.
    // When a marker is clicked it closes any currently open infowindows
    // Sets the content for the new marker with the content passed through
    // then it open the infoWindow with the new content on the marker that's clicked
    function bindInfoWindow(marker, map, infoWindow, html) {
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.close();
            infoWindow.setContent(html);
            infoWindow.open(map, marker);
        });
    }
}

        // map=new google.maps.Map(document.getElementById("truck-location-map"), {
        //       center: {lat: 37.7111991, lng: -122.3946933},
        //       zoom: 7)
        //       mapTypeId: google.maps.MapTypeId.ROADMAP,
        //     };
        // console.log("Hi!");

        // };

    google.maps.event.addDomListener(window, 'load', initMap);

</script>

<script>

$.get("/truck_info.json", $("#truck-info-text").serialize(), function (truck_schedule_info) {
    var truck, contentString;

    for (var key in truck_schedule_info)
        truck = truck_schedule_info[key];
        $("#truck-info-text").append("<p>This truck is here on " + truck.dayOfWeek + " at these times: " + truck.startTime + " - " + truck.endTime + ".</p>");
  }
);


</script>

{% endblock %}
